.navigation{
    margin-left: auto;
}

#title{
    background-color:#ff4c68;
    background-image: linear-gradient(#f52a49, #ff4c68);
    color: white;


}




body{
    font-family: "Montserrat";
}

h1,h2,h3,h4,h5,h6{

    font-family: "Montserrat";
    font-weight: bold;
}
.big-heading{
    
    font-family: 'Montserrat', sans-serif;
    
    font-weight: 900;

    font-size: 3.7rem;
  
    line-height: 1.5;
}


  h2{

      font-size: 3rem;
      line-height: 1.5;


  }


  h3{

      font-size: 1.5rem;

  }

  p{
      color: #8f8f8f;

  }


  .container-fluid{
      padding: 3% 15% 7%;
  }

  /* NAVBAR CSS */

  .navbar{
    padding: 0 0 4.5rem;
  
  }

  .navbar-brand{
      font-family: "Ubuntu";
      font-size: 2.5rem;
      font-weight: bold;
      padding: 0 0 ;
  }

  .nav-item{
      padding:0 18px;
  }

  .nav-link{
      font-size: 1.2rem;
      font-weight: lighter;
  }

  /* DOWNLOAD BUTTONS */

  .download-button{
      margin: 5% 3% 5% 0;
  }


  /* TITLE-IMAGE */

  .phone-img{
    width: 15%;
    transform: rotate(25deg);
    position: absolute;
  }





/* FEATURES */

#features{
    padding: 7% 15%;
    background-color: #ffff;
    position: relative;

}

.feature-box{
    text-align: center;
    padding: 5%;
}


/* ICONS */

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
    
}

/* TESTIMONIALS */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    
    width: 15%;
    border-radius: 100%;
    margin-top: 30px;

}

/*PRESS AWARDS AND ARTICLES */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom:  3%; 
}

.press-images{
    width: 15%;
    margin: 20px 20px 50px;
}


/*PRICING */

.pricing-heading{
    font-size: 3rem;
    line-height: 1.5;
}

#pricing{
    padding: 150px;
    text-align: center;
}

.btn{
    padding: 15px;
}

.pricing-column{
    padding: 3% 2%;
}

/* CALL TO ACTION SECTION */

#cta{
    background-color: #ff4c68;
    padding: 6%;
    color: #ffff;
    text-align: center;
}


.cta-sentence{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: center;
}

/* MEDIA QUERY TITLE */

@media (max-width: 1028px){

    #title{
        text-align: center;
    }
    .phone-img{

        position: static;
        transform: rotate(0);
        width: 70%;
 

    }
}

/* FOOTER */

#footer{

    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    
    margin: 20px 10px;
}
